@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');



* {
  margin: 0;
  padding: 5px;
  text-decoration: none;
  font-family: "Roboto", monospace;
  color: white;
}
html, body {
  min-height: 100%;
  
}
body {
  /* background: radial-gradient(at top left, rgba(146,43,225,1) 0%, rgba(43,9,107,1) 100%); */
  background: rgb(255,207,3);
  background: linear-gradient(90deg, rgba(255,207,3,1) 0%, rgba(252,201,0,1) 50%, rgba(255,189,0,1) 100%);
  background-repeat: no-repeat;
}
p {
  margin: 16px auto;
  line-height: 1.5em;
}

/* layout & nav */
.layout {
  max-width: 100%;
  margin: 0 20px auto;
  
}
nav {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: auto;
}
nav .links {
  display: inline-block;
  text-align: right;
}
nav a {
  display: inline-block;
  margin-left: 30px;
  font-weight: 500;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}
nav a:hover {
  border-color: white;
}
footer p{
  text-align: center;
  color: #fff;
  margin: 40px auto;
}
