.displaysection {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-gap: 40px;
 align-items: center;
 margin: 0;
 align-content: center;
 background: coral;
 height: 600px;
}

h2 {
 text-align: center;
}

p {
 text-align: center;
}

img {
 display: block;
 width: 30%;
 margin-left: auto;
 margin-right: auto;
}